# Welcome to Jekyll!
#
# This config file is meant for settings that affect your entire site, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# `jekyll serve`. If you change this file, please restart the server process.


# Site Settings
locale                   : "en-US"
title                    : Usanbolor Amartuvshin
subtitle                 : # site tagline that appears below site title in masthead
name                     : Your Name
description              : Your Name - Projects and CV 
baseurl                  : "/fa25-portfolio-Usanbolor" # Set this to your repo name 

# Theme and Style
theme: jekyll-theme-midnight 
color_scheme: aqua # light/default, dark, or aqua

sass:
  style: compressed

# Outputting
permalink: /:categories/:title/

collections:
  pages:
    output: true
  projects:
    output: true
    permalink: /:collection/:path/

# Markdown
markdown: kramdown
kramdown:
  math_engine: mathjax
  math_engine_opts:
    preview: false
  input: GFM

# Plugins (previously gems:)
plugins:
  - jekyll-feed
  - jekyll-include-cache
  - jekyll-seo-tag

